body{
    display:flex;
    align-items: center;
    justify-content: center;
    background: darkblue;
    
   
}
.mask {
    position:absolute;
    width:800px;
    height:800px;
    
}

.box {
   
    display:flex;
    align-items: center;
    justify-content: center;
 
    margin-top:60px;
    top:-10px;
   transform: rotate(0deg);
   animation:none;
   
}

.box:focus {
    animation: none;
}

.box:active {
    animation: none;
}

@keyframes swing {
    33% {transform:  rotate(-45deg); top: 800px;}
    66% {transform:  rotate(45deg); top: 800px;}

}
.face {
   position:absolute;
   
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 65% 65% 50% 50%;
    background-color: black;
    width: 360px;
    height: 300px;
    top:0px;
   z-index: 0;
   overflow:hidden;
}

.chin {
   
  position:absolute;
    border-radius: 15% 65% 0% 65%;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height:140px;
    width: 140px;
    bottom: -58px;
    z-index: 100;
    transform:rotate(45deg);
    animation: mouth 4s infinite;
}

@keyframes mouth {
    50% {bottom:-50px;}
    100% {bottom:-58px;}
}

.eyeL {
    position:absolute;
    display:flex;
    align-items: center;
    background-color: rgb(241, 215, 99);
    border-radius: 60% 45% 60% 45%;
    transform:rotate(45deg);
    height:70px;
    width: 70px;
    top:75px;
    left:75px;
    z-index: 100;
}

.eyeR {
    position:absolute;
    display:flex;
    align-items: center;
    background-color: rgb(233, 249, 157);
    border-radius: 60% 45% 60% 45%;
    transform:rotate(45deg);
    height:75px;
    width: 75px;
    top:70px;
    right:70px;
    z-index: 100
}

.pupilL{
    position: absolute;
    background-color:rgb(42, 42, 42);
    border-radius:70% 8% 70% 8%;
    top:14px;
    left:13px;
    height:47px;
    width:45px;
    transform: rotate(90deg);
    animation: moveeyeL 6s none;
}

.pupilL:hover {
    

}

@keyframes moveeyeL {
    0%   {transform:scale(1) rotate(90deg);}
    50%  {transform:scale(0.5) rotate(90deg); background-color:rgb(255, 146, 240);}
    
    100% {transform:scale(1) rotate(90deg);}
  }


.pupilR{
    position: absolute;
    background-color:black;
    border-radius:85% 8% 85% 8%;
    top:15px;
    left:12px;
    height:47px;
    width:47px;
    transform: rotate(90deg);
  

}

.pupilR:hover {
    animation: moveeyeR 2s none;
}

@keyframes moveeyeR {
    0%   {transform:scale(1) rotate(90deg);}
    50%  {transform:scale(0.5) rotate(90deg); background-color:rgb(146, 230, 255);}
    
    100% {transform:scale(1) rotate(90deg);}
  }

  .whiskers {
      grid:flex;
      justify-content: center;
      align-items: center;
  }

  .w1 {
    position: absolute;
    background-color: white;
    width:3px;
    height:140px;
    transform: rotate(60deg);
    left: 125px;
    top:165px;
  }

  .w2 {
    position: absolute;
    background-color: white;
    width:3px;
    height:160px;
    transform: rotate(70deg);
    left: 110px;
}

.w3 {
    position: absolute;
    background-color: white;
    width:3px;
    height:180px;
    transform: rotate(80deg);
    left: 100px;
    top:125px;
}

.w4 {
    position: absolute;
    background-color: white;
    width:3px;
    height:140px;
    transform: rotate(-60deg);
    right: 125px;
    top:165px;
  }

  .w5 {
    position: absolute;
    background-color: white;
    width:3px;
    height:160px;
    transform: rotate(-70deg);
    right: 110px;
}

.w6 {
    position: absolute;
    background-color: white;
    width:3px;
    height:180px;
    transform: rotate(-80deg);
    right: 100px;
    top:125px;
}

.ears {
    position:absolute;
    grid:flex;
    justify-content: center;
    align-items: center;
    top:10px;

}

.earR {
   position:absolute;
    height: 240px;
    width: 180px;
    top:-30px;
    border-radius: 70% 10% 70% 10%;
    background-color: black;
    z-index: -200;
}

.innerearR {
    position:absolute;
     height: 150px;
     width: 100px;
     right:15px;
     top:10px;
     border-radius: 70% 10% 70% 10%;
     background-color: rgb(74, 55, 11);
     z-index: -200;
 }

.earL {
    position:absolute;
    height: 240px;
    width: 180px;
    right:15px;
    top:-30px;
     border-radius: 10% 70% 10% 70%;
     background-color: black;
     z-index: -200;
     transform: rotate(180deg);
 }

 .innerearL {
    position:absolute;
    height: 150px;
    width: 100px;
    right:15px;
    top:80px;
     border-radius: 10% 70% 10% 70%;
     background-color: rgb(74, 55, 11);
     z-index: -200;
     transform: rotate(180deg);
 }

 .rect1{
     position:absolute;
     width: 400px;
     height: 400px;
     background: rgb(252, 182, 89);
     border-radius: 5%;
     top: -50px;
    left:-150px;

 }
 .rect2{
    position:absolute;
    width: 400px;
    height: 400px;
    background: rgb(252, 89, 89);
    border-radius: 5%;
    top:-100px;
   right:-150px;
   animation:none;

}

.box2 {
    position: relative;
    height:400;
    width:400;
animation: none;
}


.box:hover .rect2 {
    animation: moveL 10s none ;  
    
}

.box:hover .rect1 {
    animation: moveR 10s none ;  
    
}

@keyframes moveR {
    50% {left:10000px;z-index:-200;}
    100% {left:20000px; z-index:-200;}
}

@keyframes moveL {
    50% {right:10000px;}
    100% {right:20000px; z-index:-200;}
}